/* ~~~ VARIABLES ~~~*/
/* ~~~ FLEX BOXES ~~~ */
.flex-1, body #main-container nav .nav-inner, body #main-container .events, body #main-container .main-block, body #main-container .main-block .economics .eco-stat, body #main-container .main-block .news .news-stat, body #main-container .main-block .materials .material .material-text .material-stat, body #footer .foot .footer-title-line, body #footer .foot .footer-nav-line, body #footer .foot .footer-navi-line {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start; }

.flex-2, body #main-container .events .events-title, body #main-container .main-block .stat-block, body #main-container .main-block .economics, body #main-container .main-block .news, body #main-container .main-block .materials, body #main-container .main-block .materials .material .material-text, body #footer {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start; }

/* ~~~ RESPONSIVE ~~~ */
/* ~~ DESKTOP ~~ */
@media screen and (max-width: 1400px) {
  nav {
    font-size: 12px !important; } }
@media screen and (max-width: 1200px) {
  nav {
    font-size: 10px !important; } }
/* ~~ NETBOOKS TABLETS / PHONES  ~~ */
@media screen and (max-width: 1000px) {
  #header {
    height: 500px !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: stretch !important; }
    #header .govern, #header .title-head {
      width: 100% !important;
      flex-direction: row !important;
      justify-content: center !important;
      align-items: stretch !important; }
    #header .search {
      width: 100% !important;
      flex-direction: column !important; }
      #header .search form input {
        width: 250px !important; }

  nav {
    height: 120px !important;
    width: 100%;
    font-size: 14px !important;
    background: #1e6037; }
    nav .nav-inner {
      height: 10% !important;
      width: 90%;
      margin-left: 5%;
      display: inline-flex !important;
      flex-wrap: wrap !important;
      justify-content: flex-start !important;
      align-items: center !important; }

  .events {
    margin-top: 100px !important;
    height: 1200px !important;
    flex-direction: column !important; }
    .events .events-pic {
      width: 80% !important; }
    .events .events-title {
      width: 80% !important; }
    .events .events-text {
      width: 80% !important; }

  .main-block .economics, .main-block .news, .main-block .materials {
    width: 90% !important;
    margin-left: 5% !important; }
  .main-block .materials {
    margin-bottom: 15px !important; } }
/* ~~ NETBOOKS TABLET / PHONES ~~ */
@media screen and (max-width: 500px) {
  nav {
    height: 250px !important; } }
/* ~~~ MAIN PART STARTS HERE ~~~ */
body {
  font-family: Helvetica, sans-serif;
  background: rgba(55, 55, 55, 0.5);
  /* ~~ FOOTER ~~ */ }
  body #main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 90vw;
    left: 5vw;
    min-height: 100vh;
    background: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    /* ~~ HEADER ~~ */
    /* ~~ NAVIGATION ~~ */
    /* ~~ SECTION 1 ~~ */
    /* ~~ SECTION 2 ~~ */
    /* ~~ SECTION 3 ~~ */ }
    body #main-container #header {
      display: flex;
      height: 150px;
      width: 100%; }
      body #main-container #header .govern {
        display: flex;
        width: 33.33%; }
        body #main-container #header .govern .corner-pic {
          height: 150px;
          width: 150px;
          background: url(../img/corner-pic.png) center center no-repeat; }
        body #main-container #header .govern .gov-line {
          height: 100px;
          width: 1px;
          background: rgba(0, 0, 0, 0.2);
          margin: 15px; }
        body #main-container #header .govern .gov-head {
          padding: 5px 0 0 5px;
          height: 100%;
          width: 200px;
          font-size: 16px; }
          body #main-container #header .govern .gov-head h1 {
            margin-top: 15px; }
          body #main-container #header .govern .gov-head h2 {
            font-weight: bold;
            margin-top: 5px; }
      body #main-container #header .title-head {
        width: 33.33%;
        text-align: center; }
        body #main-container #header .title-head h1 {
          margin-top: 35px;
          color: #176e3b;
          font-size: 55px;
          font-weight: bold;
          letter-spacing: 7px; }
        body #main-container #header .title-head h2 {
          margin-top: 10px;
          font-size: 15px;
          font-weight: 300; }
      body #main-container #header .search {
        width: 33.33%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        body #main-container #header .search form {
          margin-top: 35px; }
          body #main-container #header .search form input {
            height: 45px;
            width: 300px; }
        body #main-container #header .search .exchange {
          display: flex;
          margin-top: 15px;
          font-weight: 400; }
          body #main-container #header .search .exchange h4 {
            font-size: 14px;
            margin-left: 12px; }
          body #main-container #header .search .exchange p {
            font-size: 14px; }
          body #main-container #header .search .exchange .search-1, body #main-container #header .search .exchange .search-2, body #main-container #header .search .exchange .search-3 {
            height: 15px;
            width: 15px;
            background: url(../img/search-1.png) center center no-repeat; }
          body #main-container #header .search .exchange .search-2 {
            background: url(../img/search-2.png) center center no-repeat; }
          body #main-container #header .search .exchange .search-3 {
            background: url(../img/search-3.png) center center no-repeat; }
    body #main-container nav {
      height: 40px;
      width: 100%;
      font-size: 16px;
      background: #1e6037; }
      body #main-container nav .nav-inner {
        height: 100%;
        width: 90%;
        margin-left: 5%; }
        body #main-container nav .nav-inner .nav-sec {
          color: white;
          font-weight: 600;
          padding: 11px; }
          body #main-container nav .nav-inner .nav-sec:hover {
            cursor: pointer;
            color: black;
            background: white; }
          body #main-container nav .nav-inner .nav-sec:active {
            color: black;
            background: white; }
        body #main-container nav .nav-inner .nav-logo {
          height: 40px;
          width: 37px;
          background: url(../img/nav-logo.png) center center no-repeat; }
    body #main-container .pattern {
      height: 10px;
      width: 100%;
      background: url(../img/pattern.png) repeat; }
    body #main-container .events-row {
      height: 60px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-end; }
      body #main-container .events-row h1 {
        font-size: 25px;
        font-weight: bold; }
      body #main-container .events-row span {
        font-weight: 600; }
      body #main-container .events-row .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        height: 100px;
        width: 160px; }
        body #main-container .events-row .icons .icon, body #main-container .events-row .icons .icon-rss, body #main-container .events-row .icons .icon-twr, body #main-container .events-row .icons .icon-fb, body #main-container .events-row .icons .icon-vk, body #main-container .events-row .icons .icon-ins {
          height: 30px;
          width: 30px; }
          body #main-container .events-row .icons .icon:hover, body #main-container .events-row .icons .icon-rss:hover, body #main-container .events-row .icons .icon-twr:hover, body #main-container .events-row .icons .icon-fb:hover, body #main-container .events-row .icons .icon-vk:hover, body #main-container .events-row .icons .icon-ins:hover {
            cursor: pointer; }
        body #main-container .events-row .icons .icon-rss {
          background: url(../img/icon-rss.png) center center no-repeat; }
        body #main-container .events-row .icons .icon-twr {
          background: url(../img/icon-twr.png) center center no-repeat; }
        body #main-container .events-row .icons .icon-fb {
          background: url(../img/icon-fb.png) center center no-repeat; }
        body #main-container .events-row .icons .icon-vk {
          background: url(../img/icon-vk.png) center center no-repeat; }
        body #main-container .events-row .icons .icon-ins {
          background: url(../img/icon-ins.png) center center no-repeat; }
    body #main-container .events {
      height: 400px;
      width: 100%;
      padding: 50px;
      flex-wrap: wrap; }
      body #main-container .events .events-pic {
        height: 400px;
        width: 40%;
        background: rgba(0, 0, 0, 0.8); }
        body #main-container .events .events-pic .events-img {
          width: 90%;
          height: 350px;
          margin: 25px;
          background: url(../img/events-img.png) center center no-repeat; }
      body #main-container .events .events-title {
        height: 400px;
        width: 20%;
        flex-wrap: wrap;
        color: white;
        background: rgba(0, 0, 0, 0.8); }
        body #main-container .events .events-title .green-gov-padding {
          height: 40px;
          margin-bottom: 40px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-end; }
          body #main-container .events .events-title .green-gov-padding .green-gov {
            height: 40px;
            background: #207141;
            margin-right: 7px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end; }
        body #main-container .events .events-title h1 {
          font-size: 25px;
          font-weight: bold;
          margin-bottom: 40px; }
        body #main-container .events .events-title p {
          font-size: 20px; }
      body #main-container .events .events-text {
        height: 400px;
        width: 33%;
        background: rgba(205, 205, 205, 0.8);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        body #main-container .events .events-text .event-text {
          padding-top: 15px;
          padding-left: 25px;
          padding-bottom: 15px; }
          body #main-container .events .events-text .event-text h3 {
            font-size: 16px;
            font-weight: 600; }
          body #main-container .events .events-text .event-text p {
            font-size: 16px; }
        body #main-container .events .events-text hr {
          width: 85%;
          color: rgba(205, 205, 205, 0.8);
          border-bottom: 1px dotted rgba(0, 0, 0, 0.5); }
    body #main-container .main-block {
      flex-wrap: wrap;
      min-height: 1200px;
      width: 100%;
      /* ~~ SECTION 3 PART 1 ~~ */
      /* ~~ SECTION 3 PART 2~~ */
      /* ~~ SECTION 3 PART 3~~ */ }
      body #main-container .main-block .stat-block, body #main-container .main-block .economics, body #main-container .main-block .news, body #main-container .main-block .materials {
        min-height: 100%; }
      body #main-container .main-block .economics {
        width: 23.33%; }
        body #main-container .main-block .economics .eco-line {
          margin-top: 10%;
          margin-left: 10%;
          width: 80%;
          height: 5px;
          background: black; }
        body #main-container .main-block .economics .eco-title {
          margin-top: 10%;
          margin-left: 10%;
          font-weight: 700; }
        body #main-container .main-block .economics .eco-img {
          margin-top: 10%;
          margin-left: 10%;
          width: 80%;
          height: 150px;
          background: url(../img/eco-img.png) center center no-repeat;
          background-size: cover; }
        body #main-container .main-block .economics .eco-stat {
          margin-top: 10%;
          margin-left: 10%;
          width: 80%; }
          body #main-container .main-block .economics .eco-stat .eco-stat-img {
            background: url(../img/eco-stat.png) center center no-repeat;
            background-size: 100%;
            width: 20px;
            height: 15px;
            margin-left: 5px;
            margin-right: 5px; }
        body #main-container .main-block .economics .eco-bold {
          font-weight: 700; }
        body #main-container .main-block .economics .eco-title-text {
          margin-top: 1%;
          margin-left: 10%; }
        body #main-container .main-block .economics .eco-dot-line {
          margin-top: 10%;
          margin-left: 10%;
          width: 80%;
          height: 1px;
          border-bottom: 1px dotted rgba(0, 0, 0, 0.5); }
      body #main-container .main-block .news {
        width: 46.33%;
        margin-bottom: 5%; }
        body #main-container .main-block .news .news-title {
          width: 90%;
          margin: 5%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start; }
          body #main-container .main-block .news .news-title h1 {
            font-weight: bold;
            font-size: 25px; }
          body #main-container .main-block .news .news-title .lenta {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 25%; }
            body #main-container .main-block .news .news-title .lenta p {
              font-size: 14px; }
            body #main-container .main-block .news .news-title .lenta .icon-lenta-active {
              width: 15px;
              height: 15px;
              background: url(../img/lenta-active.png) center center no-repeat;
              background-size: 100%; }
              body #main-container .main-block .news .news-title .lenta .icon-lenta-active:hover {
                cursor: pointer; }
            body #main-container .main-block .news .news-title .lenta .icon-lenta-inactive {
              width: 15px;
              height: 15px;
              background: url(../img/lenta-inactive.png) center center no-repeat;
              background-size: 100%; }
              body #main-container .main-block .news .news-title .lenta .icon-lenta-inactive:hover {
                cursor: pointer; }
        body #main-container .main-block .news .news-img, body #main-container .main-block .news .news-img-2 {
          width: 90%;
          height: 400px;
          background: url(../img/news-img.png) center center no-repeat;
          background-size: 100%; }
        body #main-container .main-block .news .news-img-2 {
          background: url(../img/news-img-2.png) center center no-repeat;
          background-size: 100%; }
        body #main-container .main-block .news .news-stat {
          width: 80%; }
          body #main-container .main-block .news .news-stat .news-stat-gov {
            background: url(../img/eco-gov.png) center center no-repeat;
            background-size: 100%;
            width: 130px;
            height: 15px;
            margin-left: 5px;
            margin-right: 5px; }
          body #main-container .main-block .news .news-stat .news-stat-img {
            background: url(../img/eco-stat.png) center center no-repeat;
            background-size: 100%;
            width: 20px;
            height: 15px;
            margin-left: 5px;
            margin-right: 5px; }
        body #main-container .main-block .news .news-title-tesla {
          font-size: 50px;
          margin-top: 2%;
          font-weight: 700; }
        body #main-container .main-block .news .news-title-text {
          margin-top: 3%; }
      body #main-container .main-block .materials {
        margin-top: 8%;
        width: 29.33%;
        border: 1px solid rgba(15, 15, 15, 0.5); }
        body #main-container .main-block .materials .materials-title {
          margin-top: -12px;
          margin-left: 10px;
          width: 220px;
          text-align: center; }
          body #main-container .main-block .materials .materials-title h3 {
            font-weight: 600;
            background-color: white; }
        body #main-container .main-block .materials .material {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          padding: 5%;
          width: 80%; }
          body #main-container .main-block .materials .material .material-img {
            width: 50%;
            height: 100px;
            background: url(../img/news-img-2.png) center center no-repeat;
            background-size: 100%; }
          body #main-container .main-block .materials .material .material-text {
            margin-left: 10px;
            margin-bottom: 10px;
            width: 50%; }
            body #main-container .main-block .materials .material .material-text .material-stat {
              width: 80%; }
              body #main-container .main-block .materials .material .material-text .material-stat .material-stat-img {
                background: url(../img/eco-stat.png) center center no-repeat;
                background-size: 100%;
                width: 20px;
                height: 15px;
                margin-left: 5px;
                margin-right: 5px; }
            body #main-container .main-block .materials .material .material-text .material-context {
              margin-top: 15px; }
  body #footer {
    position: relative;
    flex-wrap: wrap;
    min-height: 300px;
    width: 90vw;
    left: 5vw;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5); }
    body #footer .foot {
      margin-top: 30px;
      margin-left: 30px; }
      body #footer .foot .footer-title-line {
        flex-wrap: wrap; }
        body #footer .foot .footer-title-line .footer-title {
          font-size: 35px;
          font-weight: 700;
          letter-spacing: 5px;
          color: white; }
        body #footer .foot .footer-title-line .footer-tex {
          height: 35px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          font-size: 9px;
          color: white; }
      body #footer .foot .footer-nav-line {
        flex-wrap: wrap; }
        body #footer .foot .footer-nav-line .nav-sec {
          color: white;
          font-size: 10px;
          margin-top: 15px;
          margin-right: 10px; }
          body #footer .foot .footer-nav-line .nav-sec:hover {
            cursor: pointer;
            color: rgba(255, 255, 255, 0.5); }
      body #footer .foot .footer-navi-line {
        flex-wrap: wrap; }
        body #footer .foot .footer-navi-line .nav-sec {
          color: #9b9b9b;
          font-size: 10px;
          margin-top: 15px;
          margin-right: 10px; }
          body #footer .foot .footer-navi-line .nav-sec:hover {
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8); }
      body #footer .foot .footer-text {
        margin-top: 35px;
        width: 60%;
        font-size: 10px;
        color: #006900; }

/*# sourceMappingURL=style.css.map */
